@charset "utf-8";
* {
    box-sizing: border-box;
  }
  
body{
    position: relative;
    text-align:center;
    background-color: #f2f2f2;
    font-family: 'Source Sans Pro', sans-serif;
    display: grid;
}
h1{ 
    position:relative;
    top: -45px;
    width:100%;
    text-align: center;
    font-size:50px;
    color:white;
    background-color: #58b6db;
}
/*
h2{
    position: fixed;
    right:15%;
    top:7%;
    margin-left:500%;
}
#add_button{
    position:fixed;
    bottom:25px;
    left:330px;
    padding: 20px;
    width: 130px;
    border-radius:10px;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    background-color: #d9d9d9;
}*/

#remove_button
{
    position:fixed;
    bottom:25px;
    left: 180px;
    padding: 20px;
    width: 130px;
    border-radius:10px;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    background-color: #d9d9d9;
}

#pay_button
{
    position:fixed;
    bottom:25px;
    left:50px;
    padding: 20px;
    width: 110px;
    border-radius:10px;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    background-color: #d9d9d9;
}

/*#refund_button
{
    position:fixed;
    bottom:20px;
    padding: 20px 20px;
    width: 100px;
    font-size:16px;
    font-weight:bold;
    left:10%;
    border-radius:10px;
}*/

#total_display
{
    position:fixed;
    top:65%;
    left:21%;
    width:100px;
    font-size:20px;
    font-weight:bold;
    border:ridge;
    border-radius:1px;
    background-color:white;
}
#admin_login_button
{
    position:fixed ;
    bottom:25px;
    padding: 7px;
    width:100px;
    right:50px;
    border-radius:10px;
    background-color: #d9d9d9;
}

#log_out_button
{
    position:fixed;
    bottom:25px;
    padding: 7px;
    width: 100px;
    right:170px;
    border-radius:10px;
    background-color: #d9d9d9;
}

#item_no_styling{
    text-align:center;
}

#table_display{
    position:fixed;
    top:15%;
    left:3%;
    overflow-y: auto;
    height:50%;
    width: 25%;
    border-style:double;
    background-color: white;
}

#tandoori{
    position: fixed;
    top: 15%;
    right: 60%;
    padding: 15px;
    border-radius: 10px;
    width: 110px;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    background-color: #d9d9d9;
}

#c_momo{
    position: fixed;
    top: 15%;
    right: 51%;
    padding: 15px;
    border-radius: 10px;
    width: 110px;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    background-color: #d9d9d9;
}

#biryani{
    position: fixed;
    top: 15%;
    right: 42%;
    padding: 15px;
    border-radius: 10px;
    width: 110px;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    background-color: #d9d9d9;
}


#idli{
    position: fixed;
    top: 15%;
    right: 33%;
    padding: 15px;
    border-radius: 10px;
    width: 110px;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    background-color: #d9d9d9;
}

#dosa{
    position: fixed;
    top: 39%;
    right: 60%;
    padding: 15px;
    border-radius: 10px;
    width: 110px;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    background-color: #d9d9d9;
}

#paratha{
    position: fixed;
    top: 39%;
    right: 51%;
    padding: 15px;
    border-radius: 10px;
    width: 110px;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    background-color: #d9d9d9;
}

#thali{
    position: fixed;
    top: 39%;
    right: 42%;
    padding: 15px;
    border-radius: 10px;
    width: 110px;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    background-color: #d9d9d9;
}

#thukpa{
    position: fixed;
    top: 39%;
    right: 33%;
    padding: 15px;
    border-radius: 10px;
    width: 110px;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    background-color: #d9d9d9;
}

#chapati{
    position: fixed;
    top: 27%;
    right: 60%;
    padding: 15px;
    border-radius: 10px;
    width: 110px;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    background-color: #d9d9d9;
}

#halwa{
    position: fixed;
    top: 27%;
    right: 51%;
    padding: 15px;
    border-radius: 10px;
    width: 110px;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    background-color: #d9d9d9;
}

#sambar{
    position: fixed;
    top: 27%;
    right: 42%;
    padding: 15px;
    border-radius: 10px;
    width: 110px;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    background-color: #d9d9d9;
}

#curry{
    position: fixed;
    top: 27%;
    right: 33%;
    padding: 15px;
    border-radius: 10px;
    width: 110px;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    background-color: #d9d9d9;
}

#item_no_styling{
    border:groove;
    height:1px;
    width:1px;
    border-radius:50%;
}


#Receipt{
    position:fixed;
    top:35%;
    right:3%;
    overflow-y: auto;
    height:20%;
    width: 25%;
    border-style:double;
    background-color: white;
}

#receipt_transaction_id{
    position:fixed;
    top:23%;
    right:8%;
    font-weight: bold;
}
#receipt_date{
    position:fixed;
    top:26%;
    right:12%;
    font-weight: bold;
}

#receipt_time{
  position:fixed;
    top:29%;
    right:13%;
    font-weight: bold;
}

#receipt_total_price{
    position:fixed;
    top:32%;
    right:12%;
    font-weight: bold;
}
#empty_error{
    position:fixed;
    bottom:20%;
    left:40%;
    font-weight:bold;
    font-size: 40px;
}
